@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand");
* { box-sizing: border-box; }

body { font-family: "Quicksand", sans-serif; }

.container { width: 100%; max-width: 1020px; }

nav { background-color: rgba(0, 0, 0, 0.05); }

.menu-item-link { font-size: 16px; font-weight: 700; text-transform: uppercase; letter-spacing: 3px; color: white; }

.menu-item { list-style-type: none; }

.menu-list { display: -ms-flexbox; display: flex; -ms-flex-pack: space-evenly; justify-content: space-evenly; -ms-flex-align: center; align-items: center; margin-top: 73px; }

.menu-list > a { text-decoration: none; }

.hero { height: 950px; width: auto; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; -ms-flex-pack: justify; justify-content: space-between; background-image: url("/images/hero.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; margin-top: -140px; }

.hero-text { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; margin-top: 40vh; }

.btn-hero { width: 166px; height: 49px; border-radius: 3px; background-color: #16a085; font-size: 16px; font-weight: 700; color: white; border: none; text-transform: uppercase; transition: all 0.4s linear; margin-top: 26px; }

.btn-hero:hover { transform: scale(1.1); box-shadow: 0 0 6px black; cursor: pointer; color: white; }

.hero-header, .hero-paragraph { color: white; }

.hero-header { font-size: 36px; font-weight: 700; letter-spacing: 6px; text-transform: uppercase; text-align: center; }

.hero-paragraph { font-size: 16px; font-weight: 500; letter-spacing: 2px; }

.fa-hero { color: white; font-size: 30px; margin: 15px; }

.text { height: 500px; }

.text { background-image: url("/images/4-layers.png"); background-repeat: no-repeat; background-position: right; background-position-y: 90px; background-position-x: 80%; background-color: #f5f6f7; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.text-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: start; align-items: flex-start; width: 50%; }

.text-header { font-size: 18px; color: #16a085; text-transform: uppercase; font-weight: 700; letter-spacing: 4px; }

.text-paragraph { font-size: 12px; margin: 50px 0; letter-spacing: 1px; font-weight: 500; line-height: 24px; }

.text-btn { width: 166px; height: 49px; border-radius: 3px; background-color: #16a085; font-size: 16px; font-weight: 700; color: white; border: none; text-transform: uppercase; transition: all 0.4s linear; }

.text-btn:hover { transform: scale(1.1); box-shadow: 0 0 6px black; cursor: pointer; color: white; }

.design-flex { display: -ms-flexbox; display: flex; }

.design-phone { width: 50%; height: 558px; background-image: url("/images/8-layers.png"); background-repeat: no-repeat; background-position: left; background-position-y: 200px; }

#carousel { margin: 0 auto; height: 558px; width: 50%; overflow: hidden; }

.carousel-list { margin: 0; padding: 0; width: 6000px; }

.carousel-list-item { margin-top: 180px; margin-left: 20px; list-style-type: none; width: 480px; float: left; }

.carousel-list-button { width: 166px; height: 49px; border-radius: 3px; background-color: #16a085; font-size: 16px; font-weight: 700; color: white; border: none; text-transform: uppercase; transition: all 0.4s linear; margin-left: 20px; }

.carousel-list-button:hover { transform: scale(1.1); box-shadow: 0 0 6px black; cursor: pointer; color: white; }

.carousel-list-quote { font-size: 12px; margin: 50px 0; letter-spacing: 1px; font-weight: 500; line-height: 24px; margin: 45px auto; }

.carousel-list-header { font-size: 18px; color: #16a085; text-transform: uppercase; font-weight: 700; letter-spacing: 4px; }

.gallery { height: 483px; background-color: #f5f6f7; }

.gallery-flex { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.gallery-logo { width: 20%; text-align: center; margin-top: 150px; }

.carousel-gallery-item { list-style-type: none; width: 370px; float: left; }

#carousel-container { margin: 116px auto; height: 250px; width: 75%; overflow: hidden; }

.carousel-gallery { margin: 0; padding: 0; width: 2200px; }

.subscribe { height: 850px; background-image: url("/images/livello-3.jpg"); background-repeat: no-repeat; background-size: cover; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.subscribe-header { font-size: 30px; color: white; text-transform: uppercase; letter-spacing: 4px; }

.subscribe-input { width: 280px; height: 60px; font-size: 16px; letter-spacing: 3px; font-weight: 900; text-transform: uppercase; padding: 0 30px; border-bottom-left-radius: 3px; border-top-left-radius: 3px; border: none; }

.subscribe-input:focus { border: 3px solid #16a085; }

.btn-submit-subscribe { width: 60px; height: 60px; background-color: #16a085; border-bottom-right-radius: 3px; border-top-right-radius: 3px; border: none; color: white; font-size: 30px; transition: all 0.4s linear; }

.btn-submit-subscribe:hover { transform: scale(1.1); box-shadow: 0 0 6px black; cursor: pointer; color: white; }

.subscribe-input-container { display: -ms-flexbox; display: flex; }

.download { background-color: #f5f6f7; }

.download-text { text-align: center; text-transform: uppercase; margin-top: 91px; }

.download-header { letter-spacing: 3px; font-weight: 900; }

.download-paragraph { letter-spacing: 2px; -ms-flex-pack: justify; justify-content: justify; }

.download-buttons { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; margin-top: 47px; margin-bottom: 116px; }

.btn-download-text { width: 296px; height: 56px; border: none; border-radius: 3px; background-color: #16a085; color: white; font-size: 18px; text-transform: uppercase; letter-spacing: 3px; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.btn-apple-text { margin-right: 26px; }

.fa-btn-download { font-size: 30px; }

.btn-download-text { transition: all 0.4s linear; }

.btn-download-text:hover { transform: scale(1.1); box-shadow: 0 0 6px black; cursor: pointer; color: white; }

.footer-container { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }

.footer-info { display: -ms-flexbox; display: flex; padding-left: 0; }

.footer-info-item { list-style-type: none; margin-top: 45px; margin-bottom: 24px; }

.footer-info-item > a { text-decoration: none; text-transform: uppercase; color: black; font-size: 18px; font-weight: 700; letter-spacing: 3px; }

.footer-info-item > a:after { content: ""; border: 1px solid #16a085; height: 145px; margin: 10px; }

.footer-copy { letter-spacing: 2px; font-weight: 700; margin-bottom: 35px; }

@media (max-width: 768px) { .menu-list { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; }
  .menu-item { display: -ms-flexbox; display: flex; }
  .menu-item:nth-child(3) { display: none; } }
/*# sourceMappingURL=style.css.map */