@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand");

// Variables

$font-size-xxl: 36px;
$font-size-xl: 30px;
$font-size-btn: 24px;
$font-size-l: 18px;
$font-size-md: 16px;
$font-size-sm: 12px;
$white: white;
$ivory: #f5f6f7;
$black: black;
$green: #16a085;
$dark-green: #1abc9c;

@mixin btn-green {
  width: 166px;
  height: 49px;
  border-radius: 3px;
  background-color: $green;
  font-size: $font-size-md;
  font-weight: 700;
  color: $white;
  border: none;
  text-transform: uppercase;
  transition: all 0.4s linear;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px $black;
    cursor: pointer;
    color: $white;
  }
}

@mixin header-style {
  font-size: $font-size-l;
  color: $green;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
}

@mixin paragraph-style {
  font-size: $font-size-sm;
  margin: 50px 0;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 24px;
}

// Content

* {
  box-sizing: border-box;
  //border: 0.1px solid red;
}

body {
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 100%;
  max-width: 1020px;
}

// Menu section

nav {
  background-color: rgba($color: #000000, $alpha: 0.05);
}

.menu-item-link {
  font-size: $font-size-md;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $white;
}

.menu-item {
  list-style-type: none;
}

.menu-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 73px;
  > a {
    text-decoration: none;
  }
}

// Hero section

.hero {
  height: 950px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //background-color: grey;
  margin-top: -140px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
}

.btn-hero {
  @include btn-green;
  margin-top: 26px;
}

.hero-header,
.hero-paragraph {
  color: $white;
}

.hero-header {
  font-size: $font-size-xxl;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
}

.hero-paragraph {
  font-size: $font-size-md;
  font-weight: 500;
  letter-spacing: 2px;
}

.fa-hero {
  color: $white;
  font-size: $font-size-xl;
  margin: 15px;
}

//Text section

.text {
  height: 500px;
}

.text {
  background-image: url("/images/4-layers.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 90px;
  background-position-x: 80%;
  background-color: #f5f6f7;
  display: flex;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.text-header {
  @include header-style();
}

.text-paragraph {
  @include paragraph-style();
}

.text-btn {
  @include btn-green;
}

//Design section

// .design {
//   height: 558px;
// }

.design-flex {
  display: flex;
}

.design-phone {
  width: 50%;
  height: 558px;
  background-image: url("/images/8-layers.png");
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 200px;
  //background-color: gray;
}

//Carousel design section

#carousel {
  margin: 0 auto;
  height: 558px;
  width: 50%;
  overflow: hidden;
}

.carousel-list {
  margin: 0;
  padding: 0;
  width: 6000px;
}

.carousel-list-item {
  margin-top: 180px;
  margin-left: 20px;
  list-style-type: none;
  width: 480px;
  float: left;
}

.carousel-list-button {
  @include btn-green();
  margin-left: 20px;
}

.carousel-list-quote {
  @include paragraph-style();
  margin: 45px auto;
}

.carousel-list-header {
  @include header-style();
}

//Gallery section

.gallery {
  height: 483px;
  background-color: $ivory;
}

.gallery-flex {
  display: flex;
  //justify-content: center;
  align-items: center;
}

.gallery-logo {
  width: 20%;
  text-align: center;
  margin-top: 150px;
}

//Carousel gallery section

.carousel-gallery-item {
  //   margin-top: 80px;
  //   margin-left: 20px;
  list-style-type: none;
  width: 370px;
  float: left;
}

#carousel-container {
  margin: 116px auto;
  height: 250px;
  width: 75%;
  overflow: hidden;
}

.carousel-gallery {
  margin: 0;
  padding: 0;
  width: 2200px;
}

//Subscribe section

.subscribe {
  height: 850px;
  background-image: url("/images/livello-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-header {
  font-size: $font-size-xl;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.subscribe-input {
  width: 280px;
  height: 60px;
  font-size: $font-size-md;
  letter-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 30px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: none;

  &:focus {
    border: 3px solid $green;
  }
}

.btn-submit-subscribe {
  width: 60px;
  height: 60px;
  background-color: $green;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: none;
  color: $white;
  font-size: $font-size-xl;
  transition: all 0.4s linear;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px $black;
    cursor: pointer;
    color: $white;
  }
}

.subscribe-input-container {
  display: flex;
}

//Download section

.download {
  background-color: $ivory;
}

.download-text {
  text-align: center;
  text-transform: uppercase;
  margin-top: 91px;
}

.download-header {
  letter-spacing: 3px;
  font-weight: 900;
}

.download-paragraph {
  letter-spacing: 2px;
  justify-content: justify;
}

.download-buttons {
  display: flex;
  justify-content: center;
  margin-top: 47px;
  margin-bottom: 116px;
}

.btn-download-text {
  width: 296px;
  height: 56px;
  border: none;
  //   border-bottom-left-radius: 3px;
  //   border-top-left-radius: 3px;
  border-radius: 3px;
  background-color: $green;
  color: $white;
  font-size: $font-size-l;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: flex;
  justify-content: space-around;
}

.btn-apple-text {
    margin-right: 26px;
}

.fa-btn-download {
    font-size: $font-size-xl;
}

// .btn-download {
//   background-color: $dark-green;
//   height: 56px;
//   width: 56px;
//   color: $white;
//   font-size: $font-size-btn;
//   text-align: center;
//   border-bottom-right-radius: 3px;
//   border-top-right-radius: 3px;
//   border: none;
// }

//.btn-download,
.btn-download-text {
  transition: all 0.4s linear;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px $black;
    cursor: pointer;
    color: $white;
  }
}

//Footer section

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// .text-container {
//     display: flex;
//     justify-content: justify;
// }

.footer-info {
  display: flex;
  padding-left: 0;
}

.footer-info-item {
  list-style-type: none;
  //margin-right: 15px;
  margin-top: 45px;
  margin-bottom: 24px;

  > a {
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
    font-size: $font-size-l;
    font-weight: 700;
    letter-spacing: 3px;

    &:after {
      content: "";
      border: 1px solid $green;
      height: 145px;
      margin: 10px;
    }
  }
}

.footer-copy {
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 35px;
}

//RWD

//-------768px-----------------------------------------

@media (max-width: 768px) {
  .menu-list {
    display: flex;
    justify-content: space-between;
  }

  .menu-item {
    display: flex;

    &:nth-child(3) {
      display: none;
    }
  }
}
